/* Eddie Byte Clothing Code */

.span1,.span2,.span3,.span4,
.span5,.span6,.span7,.span8,
.span9,.span10,.span11,.span12 {
  //outline: 1px solid #aaa;
}

$outline-color: #aaa;

/* Default Class */
.span4 {
  position: relative;
}
h2 {
  font-family: "Century Gothic";
  letter-spacing: 0.05px;
  font-size: 0.95em;
  font-weight: 300;
  text-transform: uppercase;
}

/* Footer Margin */
.container {
  margin-bottom: 30px;
}

/* Height Settings */
#larger-three-panel {
  div[class^="span"] {
    height: 390px;
  }
}
#smaller-three-panel {
  div[class^="span"] {
    height: 110px;
  }
}


/* Global Classes */
div.clear {
  clear: both;
}
div.hdivider {
  width: 100%;
  border-top: 1px solid $outline-color;
  margin: 15px auto;
}
div.vdivider {
  position: absolute;
  top: 0;
  right: -11px;
  width: 1px;
  height: 100%;
  border-left: 1px solid $outline-color;
}


/* Social Media Styling */
.facebook, .googleplus, .stumbleupon {
  float: left;
  margin-right: 10px;
}
.stumbleupon { margin-right: 0; }
.facebook {
  width: 90px;
}
.googleplus {
  width: 55px;
  margin-top: 3px;
}
.stumbleupon {
  margin-top: 2px;
}


div.container {
  background-color: #fff;
  padding: 20px 15px;
}
body {
  background-color: #eee;
}

$header-height: 106px;
#header {
}
#logo {
  height: $header-height;
}
#cart-experimental {
  width: 300px;
  $p: 8px;
  padding-top: $p;
  $h: 60px - $p;
  height: $h;
  background-color: #ddd;
  position: absolute;
  top: -($h + 20px);
  right: 78px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  img {
    float: left;
    margin-left: 7px;
    border: 3px solid rgba(255,255,255,0.7);
  }
  h2 {
    float: left;
    line-height: $h - 4px;
    letter-spacing: 0;
    margin-left: 10px;
  }
}
#pointy {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -19px;
  right: 20px;
  background-image: url("img/cart-experimental.png");
  background-repeat: no-repeat;
}
#navigation {
  position: relative;
  top: 78px;
  .selected {
    border-bottom: 1px solid #ccc;
  }
  span {
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0 34px;
    letter-spacing: 1px;
    font-size: 0.9em;
    font-weight: 300;
    cursor: pointer;
  }
  span:hover {
    // color: #fff;
    // text-decoration: none;
    // background-color: #000;
    // border: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  a {
    color: #000;
  }
}
#slideshow-panel {
  position: relative;
  #slideshow {
    height: 420px;
    outline: 1px solid $outline-color;
  }
  #slideshow-navigation {
    position: absolute;
    bottom: 10px;
    left: 30px;
    .number {
      width: 10px;
      height: 10px;
      padding: 0 7px;
      padding-top: 4px;
      padding-bottom: 10px;
      font-weight: bold;
      margin-left: 10px;
      &:first-of-type {
        margin-left: 0;
      }
      text-align: center;
      background-color: #BCBEC0;
      color: #222;
      float: left;
    }
  }
}
.thumb3 {
  height: 200px;
  outline: 1px solid $outline-color;
}
.red { background-color: #ff432d; }
.black { background-color: #221e1f; }
.purple { background-color: #7755b0; }
.gray { background-color: #606060; }
.blue { background-color: #0068dc; }
.teal { background-color: #00d5e8; }
.yellow { background-color: #ffdc68; }
.green { background-color: #1e482a; }
.cranberry { background-color: #b73235; }
#smaller-three-panel {
  #made-from-aa {
    margin-left: 5px;
    img {
      display: block;
      width: 135px;
      margin: 0 auto;
      margin-top: 15px;
    }
    h2 {
      text-align: center;
      float: left;
      line-height: 1.3em;
      margin-top: 8px;
    }
  }
  #color-panel {
    h2 {
      margin: 4px;
      line-height: 1.2em;
      margin-bottom: 7px;
    }
    #colors-mini {
      .mini-dot {
        width: 30px;
        height: 30px;
        float: left;
        $r: 15px;
        -moz-border-radius: $r;
        border-radius: $r;
        margin-left: 12px;
        margin-top: 10px
      }
      $desaturate: 10%;
    }
  }
}
#smaller-three-panel {
  div[class^="span"]:first-of-type h2 {
    line-height: 1.3em;
    letter-spacing: 0;
    margin-bottom: 12px;
  }
}





